<div class="medication-history">
    <div>
      <header>
        <img src="{{ url_for('static', filename='images/add-contact.svg')}}" alt="">
        <span>Download Medication History</span> 
      </header>
      <form method="POST">
        <label for="medication">Medication</label>
        <select name="medications">
            <option value="">Medication 1</option>
            <option value="">Medication 2</option>
            <option value="">Medication 3</option>
            <option value="">All</option>
        </select>
        <div class="flex-fields">
           <div>
            <label for="start-date">Start Date</label>
            <select name="start-date" id="start-date">
                <option value="">Feb 23, 2011</option>
                <option value="">Feb 23, 2011</option>
                <option value="">Feb 23, 2011</option>
            </select>
           </div>
           <div>
            <label for="end-date">End Date</label>
            <select name="end-date" id="end-date">
                <option value="">Feb 23, 2026</option>
                <option value="">Feb 23, 2026</option>
                <option value="">Feb 23, 2026</option>
                <option value="">Present</option>
            </select>
          </div>
        </div>
        <input type="button" value="Download pdf">
    </form>  
    </div>
</div>
