<div class="settings">
  <div class="img">
      <img src="{{ url_for('static', filename='images/user-gear-solid.svg')}}" alt="">
    </div>
    <span>Settings</span>  
      <form method="POST">
        <label for="email">Change E-mail Address</label>
        <input type="email" name="email" placeholder="E-mail address" id="email">
        <label for="password">Change Password</label>
        <input type="password" name="password" placeholder="Password" id="password">
        <input type="button" value="Update settings">
    </form> 
</div>