<div class="api">
    <header>
      <img src="{{ url_for('static', filename='images/cloud.svg')}}" alt="">
      <span>Add Medication</span>
    </header>
    <div class="item-container">
       <div class="row">
         <span>Get medications</span>
         <div class="url">
            <code>http://127.0.0.1:5666/</code>
         </div>
       </div> 
        <div class="row">
         <span>Get medications</span>
         <div class="url">
            <code>http://127.0.0.1:5666/</code>
         </div>
       </div> 
       <div class="row">
         <span>Get medications</span>
         <div class="url">
            <code>http://127.0.0.1:5666/</code>
         </div>
       </div> 
        <div class="row">
         <span>Get medications</span>
         <div class="url">
            <code>http://127.0.0.1:5666/</code>
         </div>
       </div> 
        <div class="row">
         <span>Get medications</span>
         <div class="url">
            <code>http://127.0.0.1:5666/</code>
         </div>
       </div> 
        <div class="row">
         <span>Get medications</span>
         <div class="url">
            <code>http://127.0.0.1:5666/</code>
         </div>
       </div> 
       <div class="row">
         <span>Get medications</span>
         <div class="url">
            <code>http://127.0.0.1:5666/</code>
         </div>
       </div> 
        <div class="row">
         <span>Get medications</span>
         <div class="url">
            <code>http://127.0.0.1:5666/</code>
         </div>
       </div> 
    </div>
</div>