<div class="medication-form">
    <header>
      <img src="{{ url_for('static', filename='images/prescription-bottle-solid.svg')}}" alt="">
      <span>Add Medication</span>
    </header>
    <form method="POST">
       <label for="medication"></label>
       <input type="text" name="medication" placeholder="Medication" id="medication">
       <label for="dosage"></label>
       <input type="text" name="dosage" placeholder="0mg" id="dosage">
       <label for="frequency"></label>
       <input type="text" name="frequency" placeholder="Daily" id="frequency">
        <label for="med-reminder-time"></label>
       <input type="time" name="med-reminder-time" id="med-reminder-time">
       <label for="note"></label>
       <textarea name="note" placeholder="Note" id="note"></textarea>
       <input type="button" value="Save medication">
    </form>
</div>